<div class="row">
  <div class="pull-right">
    <span class="btn btn-primary btn-sm disabled">List</span>
    <a href="/notes/new" class="btn btn-info btn-sm">Add</a>
    <span class="btn btn-default btn-sm disabled">Show</span>
    <span class="btn btn-default btn-sm disabled">Edit</span>
    <span class="btn btn-default btn-sm disabled">Delete</span>
  </div>
</div>
<div class="row">
  <table class="table table-striped table-bordered">
    <caption>Notes</caption>
    <thead>
      <tr>
        <th class="note-intent">Intent</th>
        <th class="note-explanation">Explanation</th>
        <th class="note-response">Response</th>
        <th class="note-controls">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @notes.each do |note| %>
        <tr>
          <td><a href="/notes/<%= note.id %>"><%= glorify(note.intent) %></a></td>
          <td><%= glorify(note.explanation.lines.first) %></td>
          <td><%= glorify(note.response) %></td>
          <td>
            <div class="pull-right">
              <a href="/notes/<%= note.id %>" class="btn btn-info btn-sm">Show</a>
              <a href="/notes/<%= note.id %>/edit" class="btn btn-info btn-sm">Edit</a>
              <form method="post" action="/notes/<%= note.id %>" class="delete-button">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
              </form>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
