<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <article>
      <header>
        <h1><%= glorify(@note.intent) %></h1>
      </header>

      <div>
        <%= glorify(@note.explanation) %>
      </div>

      <h2>Response</h2>
      <p>
        <%= glorify(@note.response) %>
      </p>
    </article>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="siblings">
      <% if @next %>
        <div class="pull-right">
          <a href="/notes/<%= @next.id %>" title="Next">
            <%= glorify("#{@next.intent} &rarr;") %>
          </a>
        </div>
      <% end %>
      <% if @prev %>
        <a href="/notes/<%= @prev.id %>" title="Previous">
          <%= glorify("&larr; #{@prev.intent}") %>
        </a>
      <% end %>
    </div>
  </div>
</div>
