<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="pull-right">
      <a href="/notes" class="btn btn-info btn-sm">List</a>
      <a href="/notes/new" class="btn btn-info btn-sm">Add</a>
      <span class="btn btn-primary btn-sm disabled">Show</span>
      <a href="/notes/<%= @note.id %>/edit"
        class="btn btn-info btn-sm">Edit</a>
      <form method="post" action="/notes/<%= @note.id %>"
        class="delete-button">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete" class="btn btn-danger btn-sm">
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <article>
      <header>
        <h1><%= glorify(@note.intent) %></h1>
      </header>

      <div>
        <%= glorify(@note.explanation) %>
      </div>

      <h2>Response</h2>
      <p>
        <%= glorify(@note.response) %>
      </p>
    </article>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="siblings">
      <% if @next %>
        <div class="pull-right">
          <a href="/notes/<%= @next.id %>" title="Next">
            <%= glorify("#{@next.intent} &rarr;") %>
          </a>
        </div>
      <% end %>
      <% if @prev %>
        <a href="/notes/<%= @prev.id %>" title="Previous">
          <%= glorify("&larr; #{@prev.intent}") %>
        </a>
      <% end %>
    </div>
  </div>
</div>
